// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;


//Content bar gages
$spans: (span1: stack1, span2: stack2, span3: stack3, span4: stack4, span5: stack5);

//Skills
$dot-diameter: 15vh;
$circle-border-width: 3px;
$default-color: gainsboro;
$completion-color: seagreen;