.background {
    position: absolute;
    margin: 0 0 0 10vw;
    border-radius: 25px;
    top: 0;
    left: 0;
    width: 90vw;
    height: 100vh;
    z-index: -1;
    background-color: white;

   //  background-size: 300% 300%;
   //  background-image: linear-gradient(
   //        -45deg, 
   //        rgba(59,173,227,1) 0%, 
   //        rgba(87,111,230,1) 25%, 
   //        rgba(152,68,183,1) 51%, 
   //        rgba(255,53,127,1) 100%
   //  );  
   //  animation: AnimateBG 20s ease infinite;
}


.cheif_container {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% - 11vw);
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 11vw;
    overflow: hidden;
    //3d
    perspective: 1500px;
 }

.box {
   display: flex;
   position: absolute;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 40vw;
   height: 75vh;
   border-radius: 25px;
   
   // box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   left: 5vw;

   transform-style: preserve-3d;
}

 .contact_container {
   display: flex;
   width: 100%;
   height: 80%;
   background-color: #3326AE;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border-radius: 25px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   left: 5vw;
   backface-visibility: hidden;

   & p:nth-child(1){
      font-family: 'Noto Sans KR';
      font-size: 3em;
      letter-spacing: -3px;
      font-weight: 800;
      color: #FFF;
      margin-bottom: 2vh;
   }

   & p {
      font-family: 'Noto Sans KR';
      font-weight: 300;
      font-size: 1.3em;
      color: #FFF;
   }
 } 

 .contact_item {
   display: flex;
   width: 100%;
   height: 200px;
   margin: 3vh 0 1vh 0;
 }

 .item_container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 33.3%;
   height: 100%;
   border-radius: 25px;
   gap: 10px;
   transition: 1s ease-out;
   
   &:hover {
      background-color: #fa949d;
   }

   & span {
      font-family: 'Noto Sans KR';
      font-size: 1.3em;
      font-weight: 500;
      color: #fff;
   }
 }

 .item {
   color: white;
   width: 25%;
   height: 25%;
   margin: 0 0 20px 0;
 }

 .front_button {
   width: 50%;
   height: 50px;
   border: none;
   font-size: 1.5rem;
   font-family: 'Noto Sans KR';
   font-weight: 400;
   letter-spacing: -2px;
   background-color: #fa949d;
   color: white;
   border-radius: 10px;
   box-shadow: inset 0 0 0 0 #3326AE;
   transition: ease-out 0.3s;

   &:hover {
      box-shadow: inset calc(44vw/2) 0 0 0 #3326AE;
      cursor: pointer;
   }
 }


.box_origin {
   transform: rotateY(0deg);
   transition: 1s;
}

.box_animation {
   transform: rotateY(180deg);
   transition: 1s;
} 

.back_container {
   display: flex;
   flex-direction: column;
   width: 100%;
   height: 100%;
   align-items: center;
   background-color: #f8f9ff;
   position: absolute;
   border-radius: 25px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   transform: rotateY(180deg);
   backface-visibility: hidden;

   transform-style: preserve-3d;

   & p {
      font-family:'Noto Sans KR';
      font-weight: 900;
      font-size: 3em;
      color: #3326AE;
      letter-spacing: -3px;
      font-weight: 800;
      margin: 2vh 0 2vh 0;
   
   }
}

.back_child_container {
   width: 90%;
   max-height: 90%;
   background-color: #f8f9ff;
   border-radius: 25px;
   padding: 20px;
}

.form {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.input {
   font-family: 'Noto Sans KR';
   background: #e6e6e6;
   font-size: 15px;
   line-height: 1.5;
   color: #666;
   border: none;
   border-radius: 10px;
   padding: 0 30px;
   height: 50px;
   width: 60%;
   touch-action: manipulation;
   margin: 0 0 20px 0;
   outline: none;

   &:focus {
      border: 2px solid #fa949d;
      box-shadow: 0 0 3px #fa949d;
   }
}


.textarea {
   font-family: 'Noto Sans KR';
   background: #e6e6e6;
   font-size: 15px;
   line-height: 1.5;
   color: #666;
   border: none;
   border-radius: 10px;
   padding: 10px 30px;
   height: 200px;
   width: 60%;
   touch-action: manipulation;
   margin: 0 0 20px 0;
   resize: vertical;

   &::placeholder {
      font-family: 'Noto Sans KR';
   }
}

.button {
   width: 60%;
   height: 50px;
   border-radius: 10px;
   border: none;
   background: #fa949d;
   font-family: 'Noto Sans KR';
   font-size: 1.3em;
   margin: 0 0 20px 0;
   color: #fff;
}

 .ingb_container {
   margin-left: auto;
   position: relative;
   display: flex;
   width: 30vw;
   height: 100vh;
  
   perspective: 1500px;
   background: rgba(0, 78, 162, 0.1);
   

   &:hover .bingle_forward{
      transform-origin: 40% 70%;
      animation: bingle_forward 10s linear infinite;
   }

   &:hover .bingle_backward {
      transform-origin: 40% 70%;
      animation: bingle_backward 10s linear infinite;
   }
 }

 @keyframes bingle {
   0% {
      transform: rotateY(-20);
   }
 }

 .map_container {
   position: relative;
   top: 0;
   min-width: 100%;
   height: 60%;
   background: url('https://i.ibb.co/SPbHkRH/contact-map-1.jpg') no-repeat center / cover;

   &::before {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      // border-radius: 50%;
      border: 4px solid #26ae31;
      bottom: 50%;
      left: 50%;
      z-index: 100;
      transform-origin: center;
   }

   &::after {
      content: '';
      position: absolute;
      width: 150px;
      height: 150px;
      // border-radius: 50%;
      border: 4px dashed #26ae31;
      bottom: 50%;
      left: 50%;
      z-index: 100;
      transform-origin: center;
   }
 }


 .ingb {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: url('https://i.ibb.co/N7pjVDk/ingb.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    z-index: 100;
   //  transform: translateZ(30px);
 }

 .ingb_body {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: url('https://i.ibb.co/GxD73m5/body.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
 }

 .ingb_hand {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 50%;
   background: url('https://i.ibb.co/FWLy30z/hand.png');
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center bottom;
   // transform: translateZ(100px);
}


// .bingle_bingle {
//    // transform: rotateZ(360deg);
//    transform-origin: center;
//    animation: bingle_circle 3s linear infinite;
// }

// .bingle_bingle_backward {
//    // transform: rotateZ(360deg);
//    transform-origin: center;
//    animation: bingle_circle 3s linear infinite;
// }


@keyframes bingle_forward {
   from {
      transform: rotateZ(0deg);
   }
   to {
      transform: rotateZ(-360deg);
   }
   
}


@keyframes bingle_backward {
   from {
      transform: rotateZ(-360deg);
   }
   to {
      transform: rotateZ(0deg);
   }
   
}



 
//  @keyframes AnimateBG { 
//    0%{background-position:0% 50%}
//    50%{background-position:100% 50%}
//    100%{background-position:0% 50%}
//  }