.background {
    position: absolute;
    margin: 0 0 0 10vw;
    border-radius: 25px;
    top: 0;
    left: 0;
    width: 90vw;
    height: 100vh;
    z-index: -1;
    background-color: white;
}

.cheif_container {
    display: flex;
    flex-wrap: wrap;
    width: 89vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    margin: 0 0 0 11vw;
    overflow: hidden;
    gap: 0vw 5vh;
 }

 .inline_container {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 38vh;
    cursor: pointer;
 }

 .desc {
    font-family: 'Noto Sans KR';
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
    word-break: break-all;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;

 }

 .project {
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    width: 25vw;
    height: 30vh;
    position: relative;


    &_icon {
        width: 20px;
        height: 20px;
        background: rgba(0, 0, 0, 0.75);
        border-radius: 50%;
        position: absolute;
        transition: width 550ms ease, height 550ms ease, right 550ms ease, background 550ms ease;
		overflow: hidden;

        // 아이콘을 위치
        & .icon_container {
            position: absolute;
			width: 100%;
			height: 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: flex;
			justify-content: center;
			align-items: center;
        }

        & .icon_image {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            & .image {
                position: absolute;
                    width: 340%;
                    height: 340%;
                object-fit: cover;
                opacity: 0;
                transition: opacity 550ms ease;
            }
        }

        // &::after {
		// 	content: "";
		// 	position: absolute;
		// 	left: 0;
		// 	top: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background: linear-gradient(
		// 		to top,
		// 		rgba(0, 0, 0, 0.30) 0%,
		// 		rgba(0, 0, 0, 0.10) 50%,
		// 		transparent 100%
		// 	);
		// 	z-index: 1;
		// 	opacity: 0;
		// 	transition: opacity 550ms ease;
		// }


    }

    & .icon_1 {
        right: 80%;
    }

    & .icon_2 {
        bottom: 25%;
        right: 15%;
    }


    &:hover {
		& .project_icon {
            width: 5vw;
            height: 5vw;
			// &::after {
			// 	opacity: 1;
			// }
			
			// & .icon_2 {
			// 	right: -10%;
			// }


			// .info--text {
			// 	transition-delay: 550ms;
			// 	opacity: 1;
			// 	transform: translateY(0%);
			// }
		}

        & .icon_1 {
            right: 73%;
            transition-delay: 100ms;
            .icon_image {
				.image {
					opacity: 1;
				}
			}
        }

        & .icon_2 {
            right: 10%;
            .icon_image {
				.image {
					opacity: 1;
				}
			}
        }
	}

 }

 .modal_container, .overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
 }

 .overlay {
    background: rgba(49, 49, 49, 0.8);
 }

 .modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0067A3;
    width: 50vw;
    height: 45vw;
    overflow: hidden;
    border-radius: 25px;

    & .modal_image {
        width: 100%;
        height: 60%;
        transition: 0.5s;
        overflow: hidden;
    }

    & .modal_title {
        font-family: 'Noto Sans KR';
        font-weight: 700;
        font-size: 2em;
        letter-spacing: -1.5px;
        color: #fff;
        width: 100%;
        height: 10%;
        padding: 30px 0 0 30px;
    }
    & .modal_text {
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 1.5em;
        color: #fff;
        line-height: 1.5em;
        letter-spacing: -1.5px;
        width: 100%;
        height: 10%;
        padding: 0px 30px 0 30px;
    }

    & .modal_button {
        font-family: 'Noto Sans KR';
        font-weight: 500;
        font-size: 1.5em;
        color: #fff;
        height: 6vh;
        width: 10vw;
        position: absolute;
        left: 30px;
        bottom: 30px;
        background: transparent;
        border-radius: 10px;
        border: 2px solid #fff;
        cursor: pointer;

    }

    & .youtube {
        height: 100%;
    }

 }