.background {
    position: absolute;
    margin: 0 0 0 10vw;
    border-radius: 25px;
    top: 0;
    left: 0;
    width: 90vw;
    height: 100vh;
    z-index: -1;
    background-color: white;
}
