@import "./variables";
@import "./mixins";
@import "./animation";


@include mobile {

}

.parts_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh 2vw;
    justify-content: center;
    padding: 1vh 3vw 0vh 3vw;
}

.circle_container {
    width: $dot-diameter;
    height: $dot-diameter;
    transform: rotate(-225deg);
    stroke: white;
    stroke-dasharray: 75 100;
    stroke-linecap: round;
    position: relative;

    & .circle_container__background {
        fill: none;
        stroke: $default-color;
        stroke-width: $circle-border-width;
        shape-rendering: geometricPrecision;
    }

    & .circle_container__progress {
        fill: none;
        stroke-linecap: round;
        stroke-dasharray: 75 100;
        stroke-width: $circle-border-width;
        transition: stroke-dashoffset 1s ease;
        animation: draw 2s ease;
        shape-rendering: geometricPrecision;
    }


  }

.skill_parts {
    position: relative;

    // &::before {
    //     content: '70';
    //     position: absolute;
    //     font-size: 1em;
    //     font-family: 'Noto Sans KR';
    //     left: calc(50% - 0.7em);
    //     bottom: 10%;
    // }

    &:hover {
        transform: translateY(-5px);
        transition: 0.3s;
    }
}


.slider_container {
    width:50%;
    height:500px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: fade(#ebebeb, 10%);
}

.prevButton {
    position: absolute;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 50%;
    top: calc(50% - 15px);
    &:hover {
        background-color: #ddd;
        color: black;
    }
    z-index: 100;
}

.nextButton {
    position: absolute;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 50%;
    right: 0;
    top: calc(50% - 15px);
    &:hover {
        background-color: #ddd;
        color: black;
    }
}
